.banner {
  background-color: $accent;
  overflow: hidden;
  max-height: 604px;
  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__info {
    max-width: 308px;
    padding-top: 45px;
    padding-bottom: 45px;
    margin-right: 5px;
    flex-shrink: 0;
    @media screen and (max-width: $mobile) {
      flex-shrink: 1;
    }
  }

  &__title {
    @include font(48px, 56px, $white, $bold);
    margin-bottom: 50px;
    @media screen and (max-width: $mobile) {
      font-size: 40px;
    }
  }

  &__description {
    @include font(14px, 20px, $white);
    margin-bottom: 50px;
  }

  &__more {
    border-color: $white;
    color: $white;
  }

  &__figure {
    width: 100%;
    max-width: 667px;
    max-height: 667px;
    background-color: $transparent30_white;
    border-radius: 50%;
    position: relative;
    margin-right: 5px;
    top: -26px;
    flex-shrink: 1;

    &::before {
      content: "";
      display: block;
      width: 859px;
      height: 859px;
      border-radius: 50%;
      background-color: $transparent40_white;
      position: relative;
      top: -91px;
      left: -91px;
    }
    &::after {
      content: "";
      display: block;
      width: 584px;
      height: 584px;
      border-radius: 50%;
      background: url("../../images/black-chair.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 36px;
      left: 47px;
    }
    @media screen and (max-width: $mobile) {
      display: none;
    }
  }
}
