.button {
  @include font(14px, 16px, $black);
  display: inline-block;
  width: 170px;
  height: 40px;
  border: 2px solid;
  background: none;
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
  @extend %opacity;
  &:hover {
    opacity: 0.8;
  }
}
