$light_theme: #efefef;
$dark: #333333;
$accent: #66c05d;
$white: #fff;
$black: #000;
$gray: #828282;
$light_gray: #c4c4c4;
$transparent40_white: rgba(255, 255, 255, 0.4);
$transparent30_white: rgba(255, 255, 255, 0.3);

$logo: url("../../images/logo.png");
$black-chair: url("../../images/black-chair.png");
$green-chair: url("../../images/green-chair.png");

$regular: 400;
$medium: 500;
$large: 700;
