.about {
  background-color: $light_theme;
  padding-top: 17px;
  padding-bottom: 16px;
  &__row {
    @media screen and (max-width: $tablet) {
      display: flex;
      justify-content: flex-end;
    }
  }
  &__menu {
    display: flex;
    gap: 30px;
    justify-content: center;
    @include font(14px, 16px, $dark);
    @extend %nav;
  }
  &__menu-item {
    cursor: pointer;
    @extend %opacity;
    &:hover {
      opacity: 0.8;
    }
  }
}
