.contact {
  display: flex;
  align-items: center;
  gap: 40px;
  &__tel {
    @include font(16px, 19px, $black);
  }
  &__button {
    border-color: $accent;
  }
  @media screen and (max-width: $mobile) {
    flex-direction: column-reverse;
    gap: 20px;
  }
}
