.footer {
  &__about {
    background-color: $white;
    padding-top: 37px;
    padding-bottom: 38px;
  }
  &__about-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    @media screen and (max-width: $mobile) {
      flex-direction: column;
      justify-content: center;
    }
  }
  &__network {
    display: flex;
    margin-right: 81px;

    @media screen and (max-width: $tablet) {
      flex: 1 1 auto;
    }
    @media screen and (max-width: $mobile) {
      margin-right: 0;
    }
  }
  &__network-item {
    border: 2px solid $accent;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    margin-right: 20px;
    cursor: pointer;
    @extend %opacity;
    &:hover {
      opacity: 0.8;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__adress {
    @include font(14px, 16px, $black);
  }
  &__info {
    background-color: $light_theme;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  &__info-row {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $tablet) {
      text-align: center;
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
  }
  &__description {
    @include font(12px, 14px, $gray);
  }
}
