.banner {
  background-color: $accent;
  overflow: hidden;
  &__wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__info {
    position: relative;
    z-index: 1;
    max-width: 308px;
    padding-top: 192px;
    padding-bottom: 193px;
    flex-shrink: 0;
    @media screen and (max-width: $mobile) {
      flex-shrink: 1;
      padding-top: 40px;
      padding-bottom: 500px;
    }
  }

  &__title {
    @include font(48px, 56px, $white, $bold);
    margin-bottom: 50px;
    @media screen and (max-width: $mobile) {
      font-size: 40px;
    }
  }

  &__description {
    @include font(14px, 20px, $white);
    margin-bottom: 50px;
  }

  &__more {
    border-color: $white;
    color: $white;
  }

  &__figure {
    display: block;
    width: 667px;
    height: 667px;
    background-color: $transparent30_white;
    border-radius: 50%;
    position: absolute;
    top: -26px;
    right: 5px;
    flex-shrink: 1;

    &::before {
      content: "";
      display: block;
      width: 859px;
      height: 859px;
      border-radius: 50%;
      background-color: $transparent40_white;
      background-size: cover;
      position: absolute;
      top: -91px;
      left: -91px;
    }
    &::after {
      content: "";
      display: block;
      width: 584px;
      height: 584px;
      background: $black-chair;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 36px;
      left: 47px;
    }
    @media screen and (max-width: $tablet) {
      right: -190px;
    }
    @media screen and (max-width: $mobile) {
      top: 200px;
    }
  }
}
